body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.logo{
    text-align: center;
    padding: 10px 20px;
    border-radius: 50%;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
button{
    margin: 8px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffd11a;
}
.liquidificador-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.caixinha-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.triturador-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.bomba-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.videogame-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
