body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    text-align: center;
    padding: 10px 20px;
    border-radius: 50%;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
button{
    margin: 8px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffd11a;
}
.liquidificador-button,
.caixinha-button,
.triturador-button,
.bomba-button,
.videogame-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 300px) {
    body {
      font-size: 18px;
      margin: 2em 2em;
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    button {
      width: 100%;
      height: 40px;
      align-items: center;
    }
    .liquidificador-button,
    .caixinha-button,
    .triturador-button,
    .bomba-button,
    .videogame-button {
      padding: 5px 10px;
    }
}
